
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <!-- <a class="navbar-brand" href="#">Assignment</a> -->
    </div>
    <ul class="nav navbar-nav">
        <li ><a routerLink="/user" > User Registration</a></li>
      <li><a routerLink="/view">Dashboard</a></li>
      <li><a routerLink="/admin">Suggestion Box</a></li>
      <li > <a routerLink="/profile" routerLinkActive="active">About Developer</a></li>
    
    </ul>
  </div>
</nav>

<br>
<router-outlet></router-outlet>
