
<div class="row">
  <div class="col-md-8" style="margin: 30px">
    
 
 <h4>Gaurav Katiyar </h4><hr>
<pre>Angular Developer
Bengaluru, Karnataka, India</pre><br>

<h4>Summary</h4><hr>
<pre>Experienced Project Engineer with a demonstrated history of working in
the IT industry. Skilled in Angular 2/4, HTML, CSS, JavaScript, Typescript,
Core Java, and DBMS. Strong engineering professional background with a
B.Tech focused in IT.</pre><br>

<h4>Experience</h4><hr>
<h5 style="color: navy"><b>Angular Developer </b>· Wipro Technologies</h5>
<p style="color: navy">June 2016 -  Present  · Bangalore</p>
<pre>As a Angular Developer I take the responsibility of developing the HTML
templates and Integrating the R.E.S.T API for C.R.U.D Operation. Have a
good knowledge of HTML/HTML5, CSS/CSS3, Bootstrap and SQL.

</pre>
     
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="assets/images/profile.jpg" height="340px" width="300px">
          <h3 ><b> Contact Details </b></h3>
          <a href="mailto:gaurav220693@gmail.com">gaurav220693@gmail.com</a>
          <p><a href="https://www.linkedin.com/in/gaurav-katiyar-05977980" target="_blank">Linkedin Profile</a></p>

<h3 style="color: black"><b>Top Skills </b></h3>
<pre>
HTML · HTML5 · Cascading
Style Sheets (CSS) · CSS3 ·
JavaScript · Web Development
· Front-end Development · Core
Java · DBMS · Microsoft Office
</pre>
  </div>
</div>
